@model IEnumerable<Domain.TaskQueryPublicTypes.DashboardTask>
@using TaskStatus = Domain.TaskQueryPublicTypes.DashboardTaskStatus

@{
    ViewData["Title"] = "DDA| Dashboard";
    Layout = "~/Views/_Layout.cshtml"; 
}

<div class="container">

    <form>
        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <ul class="list-group">
                        <h2>Треба зробити </h2>
                        @foreach (var task in Model)
                        {
                        if (task.Status == TaskStatus.ToDo)
                        {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@task.Type</h5>
                                <h6 class="card-subtitle mb-2 text">Студент: @task.Student</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Дипрук: @task.Supervisor</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Група: @task.Group </h6>
                                <h6 class="card-subtitle mb-2 text-muted">Назначений: @task.Assignee </h6>
                                <h6 class="card-subtitle mb-2 text-muted">Дедлайн: @task.Deadline.ToString("dd.MM.yyyy")</h6>
                                <a href="/task/@task.Id" class="card-link">Детальнiше</a>
                            </div>
                        </div>
                        }
                        }
                    </ul>

                </div>
                <div class="col-sm">
                    <ul class="list-group">
                        <h2>У роботi</h2>
                        @foreach (var task in Model)
                        {
                            if (task.Status == TaskStatus.InProgress)
                            {
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">@task.Type</h5>
                                        <h6 class="card-subtitle mb-2 text">Студент: @task.Student</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Дипрук: @task.Supervisor</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Група: @task.Group </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Назначений: @task.Assignee </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Дедлайн: @task.Deadline.ToString("dd.MM.yyyy")</h6>
                                        <a href="/task/@task.Id" class="card-link">Детальнiше</a>
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="list-group">
                        <h2>Завершено </h2>
                        @foreach (var task in Model)
                        {
                            if (task.Status == TaskStatus.Done)
                            {
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">@task.Type</h5>
                                        <h6 class="card-subtitle mb-2 text">Студент: @task.Student</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Дипрук: @task.Supervisor</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Група: @task.Group </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Назначений: @task.Assignee </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Дедлайн: @task.Deadline.ToString("dd.MM.yyyy")</h6>
                                        <a href="/task/@task.Id" class="card-link">Детальнiше</a>
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>