@using System.Linq
@model IEnumerable<DataAccess.Query.DashboardQuery.Task>

<!DOCTYPE html>

<html>
<head>
    <title>Hello dashboard</title>
</head>
<body>
<div>
    @foreach (var task in Model)
    {
        <div>@task.Id</div><br/>
        <div>@task.Type</div><br/>
        <div>@task.Student</div><br/>
        <div>@task.Assignee</div><br/>
        <div>@task.Group</div><br/>
        <div>@task.Status</div><br/>
        <div>@task.Deadline</div><br/>
    }
</div>
</body>
</html>