@model Domain.TaskQueryPublicTypes.MetodistTaskDescription

@{
    ViewData["Title"] = "DDA| Metodist";
    Layout = "~/Views/_Layout.cshtml";
}

<script type="text/javascript">
    function onchangeText() {
        //Since you have JQuery, why aren't you using it?
        var box1 = $('#descriptionText');
        var box2 = $('#descriptionTextHidden');
        box2.val(box1.val());
    }
</script>

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Оберiть задачу:
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Варiанти...
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Презентація захисту практики</button>
                    <button class="dropdown-item" type="button">Щоденник практики</button>
                    <button class="dropdown-item" type="button">Звіт з практики</button>
                    <button class="dropdown-item" type="button">Бланк заяви про обрання теми</button>
                    <button class="dropdown-item" type="button">Відгук з практики</button>
                    <button class="dropdown-item" type="button">Презентація предзахисту</button>
                    <button class="dropdown-item" type="button">Презентація до захисту</button>
                    <button class="dropdown-item" type="button">Відгук наукового керівника</button>
                    <button class="dropdown-item" type="button">Акти впровадженя</button>
                    <button class="dropdown-item" type="button">Гарантійний лист</button>
                    <button class="dropdown-item" type="button">Дипломна робота</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>

            <p class="card-text">
            <div class="form-group">
                <textarea onchange="onchangeText()" class="form-control" id="descriptionText" rows="10">@Model.Description.Text</textarea>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @foreach (var file in Model.Description.Attachments)
                        {
                            <form action="/metodist/deleteFile" method="post">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="">@file.Name</a> <br>
                                        <input value="@file.Name" name="name" hidden="true"/>
                                        <input value="@file.FilePath" name="file" hidden="true"/>
                                        <input value="@file.UploadDate" name="uploadDate" hidden="true"/>
                                        <input value="@Model.Type" name="taskType" hidden="true"/>
                                        <button type="submit"
                                                class="btn btn-outline-danger">
                                            Видалити
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        }

                    </div>
                    <div class="col-sm">
                        <li class="list-group-item">
                            <h5>
                                <label for="exampleFormControlFile1">Завантажити новий файл:</label>
                            </h5>
                            <form enctype="multipart/form-data" method="post" action="/metodist">
                                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                                <input hidden="true" name="text" id="descriptionTextHidden" value="@Model.Description.Text"/>
                                <br>
                                <button type="submit" class="btn btn-primary">Зберегти</button>
                            </form>

                        </li>
                    </div>
                </div>
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>
    <br>

</div>